* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
}

:root {
  --toboo-lighter: #ffffff;
  --toboo-light: #f6f8f9;
  --toboo-main: #434851;
  --toboo-check: #42ccb4;
  --toboo-cross: #ff4848;
}

/*Header start */

h1 {
  display: inline-block;
  margin-top: 20px;
  font-size: 28px;
  font-weight: 1000;
}

.logo_img {
  margin-top: 10px;
  margin-left: 20px;
  float: left;
}

.logo {
  margin-bottom: 40px;
  background-color: var(--toboo-lighter);
  padding-bottom: 1rem;
}

/*Header end */

/*Main start */

body {
  background-color: var(--toboo-light);
}

.main_content {
  background-color: var(--toboo-lighter);
  margin: auto;
  width: 80%;
  border-radius: 5px;
}

/*Menu section start */

#addT,
#addS {
  display: inline-block;
  border-radius: 5px;
  padding: 7px;
  margin-top: 20px;
  margin-bottom: 8px;
}

#addT {
  background-color: #14aaf5;
  color: var(--toboo-lighter);
  margin-left: 50px;
}

#addS {
  background-color: var(--toboo-lighter);
  border: 1px solid #adb3b6;
  color: #adb3b6;
}

hr {
  border-color: var(--toboo-light);
  margin-bottom: 40px;
}

/*Menu section end */

/*Task list start */

.task-list {
  margin-left: 50px;
  margin-bottom: 40px;
}

h2 {
  display: inline-block;
  color: var(--toboo-main);
  vertical-align: top;
}
.drop-arrow {
  font-size: 2.5rem;
  color: var(--toboo-main);
}

.checkmark {
  display: inline-block;
  color: var(--toboo-check);
  border: 2px solid;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  text-align: center;
  margin-right: 5px;
}

.cross {
  display: inline-block;
  color: var(--toboo-cross);
  border: 2px solid;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  text-align: center;
  margin-right: 5px;
}

.task_content {
  color: var(--toboo-main);
  font-weight: 600;
}

.topic {
  color: white;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.task {
  margin-bottom: 25px;
}

.task_title {
  padding-bottom: 40px;
}

/*Task list end */

#blue {
  background-color: #14aaf5;
}

#purple {
  background-color: #ab5de6;
}

#orange {
  background-color: #ff9b00;
}

#green {
  background-color: #a3d116;
}

#pink {
  background-color: #ec4a9d;
}

#aqua {
  background-color: #42ccb4;
}

/*Footer */

#site_footer {
  text-align: center;
}

#Davide {
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  color: #20a9e5;
}
